{% verbatim %}
<!-- Decision Text Panel -->
<div class='col-md-8'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Текст рішення
        </div>
        <div class="panel-body" ng-bind='dec.text'></div>
    </div>
</div>
<!-- End Decision Text Panel -->

<!-- Decision Info Edit Form Panel-->
<div class='col-md-4'>
    <a href="/#search_results" type="submit" class="btn btn-info btn-lg btn-block">До списку рішень</a>
    <form id='decision_edit_form' name="decision_edit_form" novalidate>
        <div class="panel panel-default" style="margin-top: 5px;">
            <div class="panel-heading">Скопіюйте необхідні дані з тексту рішення у відповідні поля</div>
            
            <div class='panel-body'>
                
                <div class="form-group" ng-class="{'has-success': decision_edit_form.competence.$valid, 'has-warning': decision_edit_form.competence.$invalid && decision_edit_form.competence.$pristine, 'has-error': decision_edit_form.competence.$invalid && decision_edit_form.competence.$touched}">
                    <label for="competence">Чи належить судове рішення до компетенції відділу?</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" ng-model='dec.competence' name="competence" id="competence-true" value="True" required>Так
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model='dec.competence' name="competence" id="competence-false" value="False" required>Ні
                        </label>
                    </div>
                </div>

                
                <div class="form-group" ng-show="dec.competence === 'True'">
                    <label for="court_name">Назва суду</label>
                    <input ng-model='dec.court_name' type="text" class="form-control" id="court_name" name='court_name' readonly>
                </div>

                <div class="form-group" ng-show="dec.competence === 'True'">
                    <label for="adoption_date">Дата винесення рішення</label>
                    <input ng-model='dec.adoption_date' class="form-control" id="adoption_date" readonly>
                </div>

                <div class="form-group" ng-show="dec.competence === 'True'">
                    <label for="force_entry_date">Дата набрання рішенням законної сили</label>
                    <input ng-model='dec.force_entry_date' class="form-control" id="force_entry_date" readonly>
                </div>

                <div class="form-group" ng-show="dec.competence === 'True'">
                    <label for="case_number">Номер справи</label>
                    <input ng-model='dec.case_number' type="text" class="form-control" id="case_number" placeholder="Введіть номер справи" readonly>
                </div>

                <div class="form-group" id='claimant' ng-show="dec.competence === 'True'" ng-repeat='claimant in dec.claimants track by $index' ng-class="{'has-success': claimant_subform.claimant.$valid, 'has-warning': claimant_subform.claimant.$invalid && claimant_subform.claimant.$pristine, 'has-error': claimant_subform.claimant.$invalid && claimant_subform.claimant.$touched}">
                    <ng-form name='claimant_subform'>
                    <label for="claimant_input">Позивач {{ $index+1 }}</label>
                    <span><a ng-show='$index==0' ng-click='add_claimant()' id='claimant_add'>Додати ще одного позивача</a></span>
                    <span><a ng-show='$index!=0' ng-click='del_claimant($index, 1)' href=''>Видалити позивача</a></span>
                    <input ng-model='dec.claimants[$index]' type="text" class="form-control" id="claimant_input" placeholder="Введіть ПІБ або назву позивача" ng-readonly="expression" ng-required="dec.competence === 'True'" name='claimant'>
                    <span class="error" ng-show="claimant_subform.claimant.$error.required && claimant_subform.claimant.$touched">Це поле є обов’язковим!</span>
                    </ng-form>
                </div>

                <div class="form-group" id='defendant' ng-show="dec.competence === 'True'"  ng-repeat='defendant in dec.defendants track by $index' ng-class="{'has-success': defendant_subform.defendant.$valid, 'has-warning': defendant_subform.defendant.$invalid && defendant_subform.defendant.$pristine, 'has-error': defendant_subform.defendant.$invalid && defendant_subform.defendant.$touched}">
                    <ng-form name='defendant_subform'>
                        <label for="defendant_input">Відповідач {{ $index+1 }}</label> 
                        <span><a ng-show='$index==0' ng-click='add_defendant()' href=''>Додати ще одного відповідача</a></span>
                        <span><a ng-show='$index!=0' ng-click='del_defendant($index, 1)' href=''>Видалити відповідача</a></span>
                        <input ng-model='dec.defendants[$index]' type="text" class="form-control" id="defendant_input" placeholder="Введіть ПІБ або назву відповідача" ng-required="dec.competence === 'True'" name='defendant'>
                        <span class="error" ng-show="defendant_subform.defendant.$error.required && defendant_subform.defendant.$touched">Це поле є обов’язковим!</span>
                    </ng-form>
                </div>

                <div class="form-group" id='third_party' ng-show="dec.competence === 'True'" ng-repeat='third_party in dec.third_parties track by $index' ng-class="{'has-success': third_party_subform.third_party.$valid, 'has-warning': third_party_subform.third_party.$invalid && third_party_subform.third_party.$pristine, 'has-error': third_party_subform.third_party.$invalid && third_party_subform.third_party.$touched}">
                    <ng-form name='third_party_subform'>
                        <label for="third_party_input">Третя особа {{ $index+1 }}</label>
                        <span><a ng-show='$index==0' ng-click='add_third_party()' href=''>Додати ще третю особу</a></span>
                        <span><a ng-show='$index!=0' ng-click='del_third_party($index, 1)' href=''>Видалити третю особу</a></span>
                        <input ng-model='dec.third_parties[$index]' type="text" class="form-control" id="third_party_input" placeholder="Введіть ПІБ або назву третьої особи" name='third_party'>
                    </ng-form>
                </div>

                <div class="form-group" id='claim_subject' ng-show="dec.competence === 'True'" ng-class="{'has-success': decision_edit_form.claim_subject.$valid, 'has-warning': decision_edit_form.claim_subject.$invalid && decision_edit_form.claim_subject.$pristine, 'has-error': decision_edit_form.claim_subject.$invalid && decision_edit_form.claim_subject.$touched}">
                    <label for="claim_subject_input">Предмет позову</label>
                    <textarea ng-model='dec.claim_subject' type="text" class="form-control" id="claim_subject_input" placeholder="Стисло опишіть предмет позову" ng-required="dec.competence === 'True'" name='claim_subject'></textarea>
                    <span class="error" ng-show="decision_edit_form.claim_subject.$error.required && decision_edit_form.claim_subject.$touched">Це поле є обов’язковим!</span>
                </div>

                <div class="form-group" ng-show="dec.competence === 'True'" ng-class="{'has-success': decision_edit_form.character.$valid, 'has-warning': decision_edit_form.character.$invalid && decision_edit_form.character.$pristine, 'has-error': decision_edit_form.character.$invalid && decision_edit_form.character.$touched}">
                    <label>Характер позову:</label>
                    <div>       
                    
                    <label class="radio-inline">
                        <input type="radio" ng-model='dec.material' name="character" id="material-true" value="True" ng-required="dec.competence === 'True'">Матеріальний
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model='dec.material' name="character" id="material-false" value="False">Нематеріальний
                    </label>
                    </div>
                </div>

                <div class="form-group" ng-show="dec.competence === 'True' && dec.material === 'True'" ng-class="{'has-success': decision_edit_form.case_price.$valid, 'has-warning': decision_edit_form.case_price.$invalid && decision_edit_form.case_price.$pristine, 'has-error': decision_edit_form.case_price.$invalid && decision_edit_form.case_price.$touched}">
                    <label for="case_price">Ціна позову, грн.</label>
                    <input ng-model='dec.case_price' class="form-control" id="case_price" placeholder="Введіть ціну позову у грн." ng-required="dec.material === 'True'" type="number" name='case_price'>
                    <span class="error" ng-show="decision_edit_form.case_price.$error.number">Це поле повинно містити лише цифри!</span>
                    <span class="error" ng-show="decision_edit_form.case_price.$error.required && decision_edit_form.case_price.$touched">Це поле є обов’язковим!</span>
                </div>

                <div class="form-group" ng-show="dec.competence === 'True' && dec.material === 'True'" ng-class="{'has-success': decision_edit_form.ground.$valid, 'has-warning': decision_edit_form.ground.$invalid && decision_edit_form.ground.$pristine, 'has-error': decision_edit_form.ground.$invalid && decision_edit_form.ground.$touched}">
                    <label for="ground">Із земельних питань:</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" ng-model='dec.ground' name="ground" id="ground-true" value="True" ng-required="dec.material === 'True'" name='ground'>Так
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model='dec.ground' name="ground" id="ground-false" value="False" name='ground'>Ні
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-show="dec.competence === 'True' && dec.ground === 'True'" ng-class="{'has-success': decision_edit_form.ground_square.$valid, 'has-warning': decision_edit_form.ground_square.$invalid && decision_edit_form.ground_square.$pristine, 'has-error': decision_edit_form.ground_square.$invalid && decision_edit_form.ground_square.$touched}">
                    <label for="ground_square">Площа земель, га</label>
                    <input ng-model='dec.ground_square' class="form-control" id="ground_square" placeholder="Введіть площу земель у га" ng-required="dec.ground === 'True'" type="number" name='ground_square'>
                    <span class="error" ng-show="decision_edit_form.ground_square.$error.number">Це поле повинно містити лише цифри!</span>
                    <span class="error" ng-show="decision_edit_form.ground_square.$error.required && decision_edit_form.ground_square.$touched">Це поле є обов’язковим!</span>
                </div>

            </div>
        </div>

        <div class="panel panel-default" ng-show="dec.competence === 'True'">
            <div class="panel-heading">Оцініть законність судового рішення:</div>

            <div class='panel-body'>

            <div class="form-group" ng-class="{'has-success': decision_edit_form.legality.$valid, 'has-warning': decision_edit_form.legality.$invalid && decision_edit_form.legality.$pristine, 'has-error': decision_edit_form.legality.$invalid && decision_edit_form.legality.$touched}">
                <label for="competence">Оцінка законності:</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" ng-model='dec.legality' name="legality" id="legal-true" value="True" ng-required="dec.competence === 'True'">Законне
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model='dec.legality' name="legality" id="legal-false" value="False" ng-required="dec.competence === 'True'">Незаконне
                    </label>
                </div>
            </div>

            <div class="form-group" ng-show="dec.legality === 'False' && dec.competence === 'True'" ng-class="{'has-success': decision_edit_form.appealable.$valid, 'has-warning': decision_edit_form.appealable.$invalid && decision_edit_form.appealable.$pristine, 'has-error': decision_edit_form.appealable.$invalid && decision_edit_form.appealable.$touched}">
                <label>Чи підлягає рішення оскарженню?</label>
                <div>
                    <label class="radio-inline">
                        <input ng-model='dec.appealable' type="radio" name="appealable" id="appealable-true" value="True" ng-required="dec.legality === 'False'">Так
                    </label>
                    <label class="radio-inline">
                        <input ng-model='dec.appealable' type="radio" name="appealable" id="appealable-false" value="False">Ні
                    </label>
                </div>
            </div>
            
        </div>        </div>
    </form>

    <div style='padding: 5px;'>
    <a href='#/search_results' ng-click='update(ind, (decision_edit_form.$touched && decision_edit_form.$valid), dec)' id='decision_edit_form_submit' class="btn btn-success btn-lg btn-block">Зберегти</a>
    </div>


	<div style='padding: 5px;'>
        <a href="/#search_results" type="submit" class="btn btn-info btn-lg btn-block">До списку рішень</a>
	</div>

</div>
<!-- End Decision Info Edit Form Panel -->
{% endverbatim %}