<!-- Alerts -->
<div class="col-md-12 alert alert-danger" role="alert">Єдиний державний реєстр судових рішень не працює з технічних причин, а тому пошук недоступний.</div>
<div class="alert alert-warning" role="alert">Виявлено нестабільну роботу Єдиного державного реєстру судових рішень, у зв’язку з чим можливі труднощі.</div>
<!-- End Alerts -->

{% verbatim %}
<!-- Search Form -->
<form class="form-horizontal" name="search_form" ng-controller='SearchFormController'>
    <div class="form-group">
        <label for="start_date" class="col-md-3 col-xs-12 control-label">Введіть початкову дату*:</label>
        <div class="col-md-4 col-xs-12">
            <input name='start_date' ng-model='search_input.start_date' type='date' class="form-control" id="start_date"  placeholder="Початкова дата"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="end_date" class="col-md-3 col-xs-12 control-label">Введіть кінцеву дату*:</label>
        <div class="col-md-4 col-xs-12">
            <input name='end_date' ng-model='search_input.end_date' type='date' class="form-control" id="end_date" placeholder="Кінцева дата"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="end_date" class="col-md-3 col-xs-12 control-label">Виберіть суди*:</label>
        <div class="col-md-4 col-xs-12" id='court_select' style="margin-left: 20px">
            <div class="checkbox">
                <input type="checkbox" value='1'>Рівненський апеляційний суд</input>
            </div>
            <div class="checkbox">
                <input type="checkbox" value='2'>Рівненський апеляційний господарський суд</input>
            </div>
            <div class="checkbox">
                <input type="checkbox" value='3'>Рівненський окружний адміністративний суд</input>
            </div>
        </div>
    </div>

    <div class="form-group has-success">
        <label for="key_words" class="col-md-3 col-xs-12 control-label">За потреби, додайте ключові слова:</label>
        <div class="col-md-4 col-xs-12">
            <textarea ng-model='search_input.key_words' id='key_words' class="form-control" rows="3" placeholder="По замовчуванню пошук проводитиметься за словами: дитин*, дітей, дитяч*, *літн*, неповнолітн*, малолітн*, батьківськ*, усиновл*, освіт*, оздоров*, навчальн*."></textarea>
        </div>
    </div>

    <blockquote>
        <b>Search Input: {{ search_input }}</b>
    </blockquote>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-4 col-xs-12">
            <a href="/#search_results" type="submit" class="btn btn-success">Зберегти та почати пошук</a>
        </div>
    </div>

</form>
<!-- End Search Form -->
{% endverbatim %}