<!-- Alerts -->
<div class="col-md-12 alert alert-danger" role="alert" ng-show="">Єдиний державний реєстр судових рішень не працює з технічних причин, а тому пошук недоступний.</div>
<div class="alert alert-warning" role="alert" ng-show="">Виявлено нестабільну роботу Єдиного державного реєстру судових рішень, у зв’язку з чим можливі труднощі.</div>
<div class="alert alert-danger" role="alert" ng-show="">Перевірте правильність даних у формі та спробуйте ще раз!</div>
<!-- End Alerts -->

{% verbatim %}
<!-- Search Form -->

<form class="form-horizontal" name="search_form" ng-controller='SearchFormController' novalidate>

    <div class="form-group" ng-class="{'has-success': (search_form.start_date.$valid && search_form.start_date.$dirty), 'has-error': search_form.start_date.$invalid && search_form.start_date.$dirty}">
        <label for="start_date" class="col-md-3 col-xs-12 control-label">Введіть початкову дату*:</label>
        <div class="col-md-4 col-xs-12">
            <input name='start_date' ng-model='search_input.start_date' type='date' class="form-control" id="start_date"  placeholder='РРРР-ММ-ДД' aria-describedby="helpBlock1" required></input>
            <span ng-show="search_form.start_date.$invalid && search_form.start_date.$dirty" id="helpBlock1" class="help-block">Введіть правильну дату у форматі РРРР-ММ-ДД!</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-success': (search_form.end_date.$valid && (search_input.end_date > search_input.start_date)), 'has-error': search_form.end_date.$dirty && (search_form.end_date.$invalid || (search_input.end_date < search_input.start_date))}">
        <label for="end_date" class="col-md-3 col-xs-12 control-label">Введіть кінцеву дату*:</label>
        <div class="col-md-4 col-xs-12">
            <input name='end_date' ng-model='search_input.end_date' type='date' class="form-control" id="end_date" placeholder="РРРР-ММ-ДД" aria-describedby="helpBlock2" required></input>
            <span ng-show="search_form.end_date.$dirty && (search_input.end_date < search_input.start_date)" id="helpBlock2" class="help-block">Кінцева дата не може бути менша за початкову дату!</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-success': (search_input.court_select_1 || search_input.court_select_2 || search_input.court_select_3)}">
        <label for="court_select" class="col-md-3 col-xs-12 control-label">Виберіть суди*:</label>
        <div class="col-md-4 col-xs-12" id='court_select' style="margin-left: 20px">
            <div class="checkbox">
                <input type="checkbox" ng-model='search_input.court_select_1' ng-true-value="'1'" ng-false-value="null">Рівненський апеляційний суд</input>
            </div>
            <div class="checkbox">
                <input type="checkbox" ng-model='search_input.court_select_2' ng-true-value="'2'" ng-false-value="null">Рівненський апеляційний господарський суд</input>
            </div>
            <div class="checkbox">
                <input type="checkbox" ng-model='search_input.court_select_3' ng-true-value="'3'" ng-false-value="null">Рівненський окружний адміністративний суд</input>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="key_words" class="col-md-3 col-xs-12 control-label">За потреби, додайте ключові слова:</label>
        <div class="col-md-4 col-xs-12">
            <textarea ng-model='search_input.key_words' id='key_words' class="form-control" rows="3" placeholder="По замовчуванню пошук проводитиметься за словами: дитин*, дітей, дитяч*, *літн*, неповнолітн*, малолітн*, батьківськ*, усиновл*, освіт*, оздоров*, навчальн*."></textarea>
        </div>
    </div>

    
    <div class="form-group" ng-show="search_form.$valid && (search_input.court_select_1 || search_input.court_select_2 || search_input.court_select_3)">
        <div class="col-md-offset-3 col-md-4 col-xs-12">
            <a href="/#search_results" type="submit" class="btn btn-success">Зберегти та почати пошук</a>
        </div>
    </div>

</form>
<!-- End Search Form -->
{% endverbatim %}