{% load staticfiles %}
<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8"/>
		<title>Моніторинг судових рішень</title>
		<meta name="description"
			value="Система моніторингу судових рішень" />

		<!-- Include Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static "css/animations.css" %}">

	    <!-- Javascripts Section -->
	    
	    <!-- AngularJS !-->
	    <script src="{% static "bower_components/angular/angular.min.js" %}"></script>
	    <script src="{% static "bower_components/angular-route/angular-route.min.js" %}"></script>
	    
		<script src="{% static "bower_components/angular-strap/dist/angular-strap.min.js" %}"></script>
		<script src="{% static "bower_components/angular-strap/dist/angular-strap.tpl.min.js" %}"></script>
		<script src="{% static "bower_components/angular-i18n/angular-locale_uk-ua.js" %}"></script>
		<script src="{% static "bower_components/angular-animate/angular-animate.min.js" %}"></script>

		
	</head>
  	<body ng-app='MonitoringApp'>
		<!-- Start Container -->
		<div class="container-fluid">
            <!-- Start Header -->
            <div class="row" id = 'header'>
                <div class="col-md-12" onclick="document.location = '/';">
                    <h1>Моніторинг судових рішень</h1>
                </div>
            </div>
            <!-- End Header -->

            <!-- Contents -->
            
            <div class="row" id="content-columns" ng-view style="margin-top: 15px; margin-bottom: 35px;"></div>
            
         	<!-- End Contents -->
 
         

			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-md-12">
				&copy; 2015 Моніторинг судових рішень
				</div>
			</div>
			<!-- End Footer -->


		</div>
		<!-- End Container -->
		
		
		
	 	</body>



	 	<!-- My App -->
		<script src="{% static "js/app.js" %}"></script>

    	<!-- Services  -->
		<script src="{% static "js/services/Decisions.js" %}"></script>
		<script src="{% static "js/services/DecisionsGet.js" %}"></script>

    	<!-- Controllers -->
		
		<script src="{% static "js/controllers/SearchResultsController.js" %}"></script>
		<script src="{% static "js/controllers/DecisionEditController.js" %}"></script>
		<script src="{% static "js/controllers/SearchFormController.js" %}"></script>

		<!-- Directives -->
		<script src="{% static "bower_components/angularUtils-pagination/dirPagination.js" %}"></script>

</html>
